@page "/"
@using Soil.Models
@using Soil.Services.Interface
@inject ISoilService SoilService

<PageTitle> Soil Mointor</PageTitle>

<div class="container-main">
    <h1>Soil Status</h1>
    
    <div class="Box-tl">
        <h2> Seneste Måling </h2>
        @if (indlæser)
        {
            <p>Henter data...</p>
        }
        else
        {
            <div class="maaling-grid">
                @if (overfladeMaaling != null)
                {
                    <div class="maalingIndhold">
                        <span class="fugtighed-tal">@overfladeMaaling.Depth.ToString("0.0") cm</span>
                        <span class="fugtighedTal">@overfladeMaaling.MoistureLevel.ToString("0.000") m³/m³</span>
                        <p class="tid-tekst">Målt den: @overfladeMaaling.Timestamp.ToLocalTime().ToString("dd/MM HH:mm")</p>
                    </div>
                }

                @if (undergrundMaaling != null)
                {
                    <div class="maalingIndhold">
                        <span class="fugtighed-tal">@undergrundMaaling.Depth.ToString("0.0") cm</span>
                        <span class="fugtighedTal">@undergrundMaaling.MoistureLevel.ToString("0.000") m³/m³</span>
                        <p class="tid-tekst">Målt den: @undergrundMaaling.Timestamp.ToLocalTime().ToString("dd/MM HH:mm")</p>
                    </div>
                }
            </div>
        }
    </div>
    
    
    <div class="Box-tr">
        <h2> Data historik </h2>
        @if (historik.Count == 0)
        {
            <p>ingen historik endnu</p>
        }
        else
        {
            <table>
                <thead>
                <tr>
                    <th>Tidspunkt</th>
                    <th>Fugtighed</th>
                    <th>Dybde</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var maaling in historik)

                {
                    <tr>
                        <td>@maaling.Timestamp.ToLocalTime().ToString("dd/MM HH:mm")</td>
                        <td>@maaling.MoistureLevel.ToString("0.000") m³/m³</td>
                        <td>@maaling.Depth.ToString("0") cm</td>
                    </tr>

                }

                </tbody>

            </table>
        }
       
    </div>
    
    <div class="Box-bl">
        <h2> Graf over data point </h2>
    </div>
    
    
    <div class="Box-br">
        <h2> For tørt - Alarm  </h2>
        <button> Send operatør til vande </button>

    </div>
    

</div>

@code {

    private SoilMoistureReading? overfladeMaaling ;
    private SoilMoistureReading? undergrundMaaling ;
    private List<SoilMoistureReading> historik = new();
    private bool indlæser = true;

    protected override async Task OnInitializedAsync()
    {
            await SoilService.GemMålingAsync(0, 0);
            overfladeMaaling = await SoilService.GetLatestByDepthAsync(1);
            undergrundMaaling = await SoilService.GetLatestByDepthAsync(54);
            historik = await SoilService.GetHistoryAsync();
            
            indlæser = false;

    }

}